<a href="https://colab.research.google.com/github/Limpiocpe/CPE009A/blob/main/Loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOOP Statement**

#Example 1 (For Loop statement)

In [1]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for x in week:
  print(x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

#Example 2 (The break statement)

In [3]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for x in week:
  print(x)
  if x == 'Thursday':
    break

Monday
Tuesday
Wednesday
Thursday

#Example 3 (The break statement)
#+1 Point

In [8]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  if x == 'Thursday':
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

#Example 4 (Looping through a string)

In [9]:
for x in "week":
  print(x)

w
e
e
k

The range() function

In [18]:
for x in range(6):
  print(x)
print()
for x in range(2,6):
  print(x)
print()

0
1
2
3
4
5

2
3
4
5

In [27]:
for y in range(2, 6, 2):
  print(y)

2
4

Nested Loops

In [29]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loops

In [30]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break statement

In [31]:
i = 1
while i < 6:
  print(i)
  if i ==3:
    break
  i += 1

1
2
3

Continue Statement

In [32]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#+1 Point Midterm

In [33]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print(i)
  continue

3

The else Statement

In [34]:
i = 1
while i < 6:
  print(i)
  i +=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#+5 Points Midterm

In [37]:
for x in range(11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

#+5 Points Midterm

In [47]:
for x in range(3, 10):
  print(x)

3
4
5
6
7
8
9