<a href="https://colab.research.google.com/github/Limpiocpe/CPE009A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [ ]:
#This is a comment
print("Hello, World")

Hello, World

Variable Naming Conventions

In [ ]:
myvar = 5
print(myvar)

5

Python Variable

In [ ]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally" #This is a type of string
print(b)

Sally

Casting

In [ ]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single' Qoutes

In [ ]:
y = "John"
y = 'John'
print(y)

John

Case sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Multiple Variables

In [ ]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [ ]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [ ]:
x = 5
y = 3
z = 10
print (x + y)

x = 5
y = 3
sum = x + y
print(sum)

print(x - y)
print(x * y)
print(z/x)
print(z % 3)
print(x**2)

8
8
2
15
2.0
1
25

Assignment Operators

In [ ]:
x = 5
x += 3
print(x)

x = 5
x -= 3
print(x)

x = 5
x *= 3
print(x)

x = 5
x /= 3
print(x)

x = 5
x %= 3
print(x)

x = 5
x //= 3
print(x)

x = 5
x **= 3
print(x)

x = 5
x &= 3
print(x)

x = 5
x |= 3
print(x)

x = 5
x ^= 3
print(x)

x = 5
x >>= 3
print(x)


x = 5
x <<= 3
print(x)

8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40

Comparison Operators

In [ ]:
t, u = 1, 2
print(t == u)
print(t != u)
print(t > u)
print(t < u)
print(t >= u)
print(t <= u)

False
True
False
True
False
True

Logical Operator

In [ ]:
t < 5 and t < 10

True

In [ ]:
t < 5 or t < 4

True

In [ ]:
not(x < 5 and t < 10)

True

Identity Operators

In [ ]:
t is u

False

In [ ]:
t is not u

True

Bitwise Operators

In [ ]:
v = 2
v<<1
v<<2

8

In [ ]:
v = 2
v >> 2

0

In [ ]:
v = 2
v | 0

2

In [ ]:
v = 2
15 & 15

15

In [ ]:
v = 2
 ~v

-3